<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="server_side_google_analytics" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Server Side Google Analytics</label>
            <tab>magesuite</tab>
            <resource>MageSuite_ServerSideGoogleAnalytics::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="account_number" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                    <comment><![CDATA[e.g UA-XXXX-Y]]></comment>
                </field>
                <field id="sandbox_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug_mode" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="product" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product</label>
                <field id="brand_attribute" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Brand Attribute</label>
                    <source_model>MageSuite\ServerSideGoogleAnalytics\Model\Config\Source\ProductAttribute</source_model>
                </field>
                <field id="custom_dimension" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension</label>
                    <frontend_model>MageSuite\ServerSideGoogleAnalytics\Block\Adminhtml\Form\Field\CustomDimension</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
